<div class='videoSection'>
	{{video-player youtube_id=model.youtube_id}}

	<div class="videoTitle">
		<h2>{{model.title}}</h2>
		<div>
			<div class="videoAuthorInfo">
				<img src="http://placehold.it/50x50" />
			
				{{model.author}}
				<button class = "subscribeButton">Subscribe</button>
			</div>
		</div>
	</div>

	<div class="videoDescription">
		<strong> Uploaded on {{model.date}} </strong>
		<p> {{model.description}} </p>
	</div>
</div>